<% product.order_items.each do |order_items| %>
      <% order = order_items.order%>
      <% order_items.order.products.each do |order_product| %>

  <div class="order">
    <div class='order-status'>
      <i class="fa fa-refresh primary-color-medium" aria-hidden="true"></i>
    </div>
    <!-- Photo user -->
    <img src="http://placehold.it/100x100" class="hidden-xs avatar-large marged-right">
    <!-- body for user -->

    <div class='order-body'>
      <h3 class="primary-color-medium"> <%= order_product.user.first_name %> <%= order_product.user.last_name %></h3>
      <p><% order.products.each do | product_specific| %>
      <p> <%= product_specific.name %> </p>
      <% end %>
      </p>
    </div>
    <ul class="list-inline order-controls hidden-sm hidden-xs">
      <li>Montant: <%= order.amount %> €</li>
    </ul>
    <%= link_to "Voir", root_path, class: "btn btn-warning marged-left" %>
  </div>
<% end %>
<% end %>
