<div class="profile-header-wrapper">
  <div class="container">
    <!-- Avatar and username -->
    <div class="profile-header-infos">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, width: 300, height: 200, crop: :fill, class: "photo-square" %>
      <% else %>
        <img src="http://placehold.it/100x100" class="photo-square">
      <% end %>
      <h1><%= @user.farm_name.capitalize %></h1>
      <h2><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.farm_location %></h2>
      <br>
      <%= link_to "Nouveau Produit", new_product_path, class: "btn btn-warning" %>
    </div>
    <!-- Insert your <div class="tabs"> here -->
    <div class="tabs">
      <a class="tab active" href="#" data-target="#products">
        <h3><%= @user.products.size %></h3>
        <p>Mes Produits</p>
      </a>
      <a class="tab" href="#" data-target="#pending-orders">
        <h3>4</h3>
        <p>Commandes en cours</p>
      </a>
      <a class="tab" href="#" data-target="#validate-orders">
        <h3>12</h3>
        <p>Commandes validées</p>
      </a>
      <a class="tab" href="#" data-target="#infos">
        <h3></h3>
        <p>Infos</p>
      </a>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="tab-content" id="products">
        <% @products.each do |product| %>
          <div class="col-xs-12 col-sm-4">
            <div class="product-card">
              <div class="product-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path product.photo.path %>);">
                <div class="product-card-category">
                  <%= link_to "#" do %>
                    Public
                  <% end %>
                </div>
                <div class="product-card-description">
                </div>
                <%= link_to "", product_path(product), class: "product-card-link" %>
              </div>
              <div class="product-card-name">
                <h6><%= product.name.upcase %> - <%= product.weight %> G</h6>
                <p><%= product.price %> €</p>
                <p><span>23.2€/kg</span></p>
              </div>
              <div class="product-card-btn">
                <% if product.published %>
                  <%= link_to 'Unpublish', toggle_publish_product_path(product), method: :patch, class: "btn btn-warning" %>
                <% else %>
                  <%= link_to 'Publish', toggle_publish_product_path(product), method: :patch, class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-content hidden" id="pending-orders">
        <div class="col-xs-10 col-xs-offset-1">
          <!-- made a order partial  -->
              <%= render 'users/order_pending', pending_orders_farmer: @pending_order_farmers %>

        </div>
      </div>
      <div class="tab-content hidden" id="validate-orders">
        <%#= render 'users/order_validate', pending_orders_farmer: @pending_order_validate %>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="order">
            <div class='order-status'>
              <i class="fa fa-check green" aria-hidden="true"></i>
            </div>
            <img src="http://placehold.it/100x100" class="avatar-large marged-right hidden-xs">
            <div class='order-body'>
              <h3 class="primary-color-medium">Toto l'acheteur</h3>
              <p>Commande n° 12 // 20 produits</p>
            </div>
            <ul class="list-inline order-controls hidden-sm hidden-xs marged-right">
              <li>Montant: 246 €</li>
            </ul>
            <%= link_to "Voir", root_path, class: "btn btn-warning marged-left" %>
          </div>
        </div>
      </div>
      <div class="tab-content hidden" id="infos">
        <p class="text-center">Infos</p>
      </div>
    </div>
  </div>
</div>
