<div class="navbar-wagon">
  <!-- Logo -->

  <!-- Left Navigation -->
  <div class="navbar-wagon-left hidden-xs hidden-sm text-center">

    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <%= link_to products_path(category: "fruits-legumes"), class: "navbar-wagon-item-left" do %>
      Fruits<br>Légumes
    <% end %>

    <%= link_to products_path(category: "oeufs-cremerie"), class: "navbar-wagon-item-left" do %>
      Oeufs<br>Crèmerie
    <% end %>

    <%= link_to products_path(category: "viandes-poissons"), class: "navbar-wagon-item-left" do %>
      Viandes<br>Poissons
    <% end %>

    <%= link_to products_path(category: "alcools-boissons"), class: "navbar-wagon-item-left" do %>
      Alcools<br>Boissons
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

     <!-- For all users signed_in -->
      <%= link_to user_path(current_user), class: "navbar-wagon-item navbar-wagon-link text-center bold" do %>
        Mes<br>Achats
      <% end %>

      <!-- Different if user is a producer or not -->
      <% if current_user.producer %>
        <%= link_to dashboard_path(current_user), class: "navbar-wagon-item navbar-wagon-link text-center bold" do %>
          Tableau<br>de bord
        <% end %>
      <% else %>
        <%= link_to edit_user_registration_path(current_user), class: "navbar-wagon-item navbar-wagon-link text-center bold" do %>
          Deviens<br>Producter
        <% end %>
      <% end %>

      <!-- User Dropdown -->
        <div class="navbar-wagon-item navbar-wagon-link">
          <div class="dropdown">
            <i class="fa fa-user dropdown-toggle" id="navbar-wagon-menu", data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <h5 class= "text-center">Mon compte</h5>
              </li>
              <li role="separator" class="divider"></li>
              <li class= "text-center">
                <%= link_to edit_user_registration_path(current_user) do %>
                  Paramètres
                <% end %>
              </li>
              <li class= "text-center">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  Deconnexion
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      <!-- Basket dropdown -->
      <%= link_to user_path(current_user), class: "navbar-wagon-link" do %>
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      <% end %>

    <% else %>
      <!-- Log in / Sign up dropdown -->
        <div class="navbar-wagon-item navbar-wagon-link">
          <div class="dropdown">
            <i class="fa fa-user dropdown-toggle" id="navbar-wagon-menu", data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <h5 class= "text-center">Mon compte</h5>
              </li>
              <li role="separator" class="divider"></li>
              <li class= "text-center">
                <%= link_to new_user_session_path do %>
                  Connexion
                <% end %>
              </li>
              <li class= "text-center">
                <%= link_to new_user_registration_path do %>
                  Inscription
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <!-- Basket dropdown -->
      <%= link_to "#", class: "navbar-wagon-link" do %>
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

