<div class="wrapper">
  <div class="container">
    <div class="row">
    <h3 class="text-center primary-color-medium">Mon Panier</h3>
    <h5 class="text-center primary-color-medium">Commande n° <%= @order.id %></h5>
    <br>
      <% @order.order_items.each do |item| %>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="item">
            <div class='item-status'>
              <i class="fa fa-check primary-color-medium" aria-hidden="true"></i>
            </div>
              <% if item.product.photo? %>
                <%= cl_image_tag item.product.photo.path, width: 260, height: 200, crop: :fill, class: "item-image hidden-xs" %>
              <% else %>
                <img src="http://placehold.it/100x100" class="item-image hidden-xs">
              <% end %>
            <div class='item-body'>
              <h3 class="primary-color-light"><%= item.quantity %> <%= item.product.name %></h3>
              <p>Producteur: <%= item.product.user.farm_name %></p>
            </div>
            <ul class="list-inline item-controls hidden-sm hidden-xs">
              <li>Montant: <%= item.product.price %> €</li>
            </ul>
            <%= link_to remove_item_order_path(item), method: :patch, class: "marged-left" do %>
              <i class="fa fa-trash primary-color-medium" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="order-amount">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="item">
            <div class='item-body text-center'>
              <p><%= @order.order_items.first.product.user.farm_name %></p>
              <p>Commande n° <%= @order.id %></p>
              <br>
              <h4 class="primary-color-light">Total : <%= @order.amount %> €</h4>
              <br>
              <%= link_to 'Valider', pay_order_path(@order), method: :patch, class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<p><%= link_to 'Test validate', validate_order_path(@order), method: :patch, class: "btn btn-warning" %></p>
