<div class="container text-center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p><%= @order.id %></p>
      <p><%= @order.user.first_name %></p>
      <% @order.order_items.each do |item| %>
        <p><%= item.product.name %> du producteur <%= item.product.user.farm_name %></p>
      <% end %>
      <p><%= @order.order_items.first.product.user.farm_name %></p>
      <p><%= @order.amount %></p>
      <p><%= @order.current_order %></p>
      <p><%= @order.pending_order %></p>
      <p><%= @order.validate_order %></p>
      <p><%= link_to 'Test pending', pay_order_path(@order), method: :patch, class: "btn btn-warning" %></p>
      <p><%= link_to 'Test validate', validate_order_path(@order), method: :patch, class: "btn btn-warning" %></p>
      <% @order.order_items.map do |item| %>
         <ul class ="list-inline list-unstyled">
          <li><%= item.product.name %></li>
          <li><%= item.product.price %></li>
          <li><%= link_to 'Test remove', remove_item_order_path(item), method: :patch, class: "btn btn-warning" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
