<div class="banner-home" style="background-image: url(<%= image_path "background.jpg" %>);">
  <div class="banner-content">
    <h1>Les meilleurs produits,<br>livrés chez toi !</h1>
    <p>Le plus large choix de produits ultra-frais, garantis bio et locaux,<br>livrés gratuitement à domicile en 24 heures à Lyon et Villeurbanne</p>
    <a class="btn btn-warning btn-lg bold">Fais ton marché</a>
  </div>
</div>
<div class="wrapper-spring-wood">
  <div class="container padded">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <!-- insert <div class="card"> -->
        <div class="features-card text-center">
          <div class="features-img">
            <%= image_tag 'berry-icon.svg' %>
          </div>
          <div class="features-card-content">
          <h1>Les meilleurs produits</h1>
          <p>En direct des producteurs, garantis ultra-frais, bio et locaux</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <!-- insert <div class="card"> -->
        <div class="features-card text-center">
          <div class="features-img">
            <%= image_tag 'fruits-icon.svg' %>
          </div>
          <div class="features-card-content">
            <h1>Le plus large choix</h1>
            <p>Fruits, légumes, viande, poisson, épicerie, des centaines de produits pour toutes tes envies</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <!-- insert <div class="card"> -->
        <div class="features-card text-center">
          <div class="features-img">
            <%= image_tag 'delivery-icon.svg' %>
          </div>
          <div class="features-card-content">
            <h1>Livraison gratuite en 24h</h1>
            <p>A domicile où au bureau, du mardi au dimanche, gratuite dès 30 euros d’achats</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/testimonials' %>
