<div class="text-center padded-top-bottom-2em">
  <h2>Offer a new product</h2>
  <h4>Delight Deligreens' customers!</h4>
</div>
<div class="padded-top-bottom-2em">
  <%= simple_form_for(@product) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :description %>
    <div class="row">
      <div class="col-xs-4">
        <%= f.input :price %>
      </div>
      <div class="col-xs-4">
        <%= f.input :weight %>
      </div>
      <div class="col-xs-4">
        <%= f.input :stock %>
      </div>
    </div>
    <%= f.input :category %>
    <%= f.input :variety %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :start_season, as: :string, input_html: { class: 'js-datepicker'} %>
      </div>
      <div class="col-xs-6">
        <%= f.input :end_season, as: :string, input_html: { class: 'js-datepicker'} %>
      </div>
    </div>

    <%= f.button :submit, :class => "form-control btn btn-warning", :id => "submit_button" %>
  <% end %>
</div>
