<div class="text-center padded-top-bottom-2em">
  <h2>Offer a new product</h2>
  <h4>Delight Deligreens' customers!</h4>
</div>
<div class="padded-top-bottom-2em">
  <%= simple_form_for(@product) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :stock %>
    <%= f.input :price %>
    <%= f.input :weight %>
    <%= f.input :category %>
    <%= f.input :variety %>
    <%= f.input :start_season %>
    <%= f.input :end_season %>

    <%= f.button :submit, :class => "form-control btn btn-warning", :id => "submit_button" %>
  <% end %>
</div>
