<% @types = Product::TYPES %>
<% @product_types = @types.select { |type| type.include?(@product.variety) }.flatten %>

<div class="text-center padded-top-bottom-2em">
  <h2>Offer a new product</h2>
  <h4>Delight Deligreens' customers!</h4>
</div>
<div class="padded-top-bottom-2em">
  <%= simple_form_for(@product) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.input :description %>
    <div class="row">
      <div class="col-xs-4">
        <%= f.input :price, placeholder: '5.00 €' %>
      </div>
      <div class="col-xs-4">
        <%= f.input :weight, placeholder: 'In grams' %>
      </div>
      <div class="col-xs-4">
        <%= f.input :stock, placeholder: 'Minimum 1' %>
      </div>
    </div>
    <%= f.input :category, collection: ['fruits-legumes', 'oeufs-cremerie', 'viandes-poissons', 'alcools-boissons'], prompt: "Select a category" %>
    <%= f.input :variety, collection: @product_types %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :start_season, as: :string, input_html: { class: 'js-datepicker'} %>
      </div>
      <div class="col-xs-6">
        <%= f.input :end_season, as: :string, input_html: { class: 'js-datepicker'} %>
      </div>
    </div>

    <%= f.button :submit, :class => "form-control btn btn-warning", :id => "submit_button" %>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var types = <%= @types.inspect.html_safe %>;

      $("#product_category").change(function() {
        getState();
      });
      function getState() {
        var category = $("#product_category").val();
        if (category === 'fruits-legumes') {
          $('#product_variety').html('<option value="">Select a variety</option>');
          types[0].forEach(function(variety) {
            string = '<option value=\"' + variety + '\">' + variety + '</option>';
            $('#product_variety').append(string);
          });
        }
        if (category === 'oeufs-cremerie') {
          $('#product_variety').html('<option value="">Select a variety</option>');
          types[1].forEach(function(variety) {
            string = '<option value=\"' + variety + '\">' + variety + '</option>';
            $('#product_variety').append(string);
          });
        }
        if (category === 'viandes-poissons') {
          $('#product_variety').html('<option value="">Select a variety</option>');
          types[2].forEach(function(variety) {
            string = '<option value=\"' + variety + '\">' + variety + '</option>';
            $('#product_variety').append(string);
          });
        }
        if (category === 'alcools-boissons') {
          $('#product_variety').html('<option value="">Select a variety</option>');
          types[3].forEach(function(variety) {
            string = '<option value=\"' + variety + '\">' + variety + '</option>';
            $('#product_variety').append(string);
          });
        }
        if (category === '') {
          $('#product_variety').html('<option>Waiting for category</option>');
        }
      }
    });
  </script>
<% end %>
