<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= image_path "delivery.jpg" %>);">
  <div class="banner-content">
    <% if params[:category] == "fruits-legumes" %>
      <h1>Fruits / Légumes</h1>
      <div class= "banner-content-border"></div>
      <p>Fruits - Herbes - Aromatiques - Légumes</p>
    <% elsif params[:category] == "oeufs-cremerie" %>
      <h1>Oeufs / Cremerie</h1>
      <div class= "banner-content-border"></div>
      <p>Oeufs - Fromages - Yaourts</p>
    <% elsif params[:category] == "viandes-poissons" %>
      <h1>Viandes / Poissons</h1>
      <div class= "banner-content-border"></div>
      <p>Boeuf - Charcuterie - Porc - Veau - Volaille</p>
    <% elsif params[:category] == "alcools-boissons" %>
      <h1>Alcools / Boissons</h1>
      <div class= "banner-content-border"></div>
      <p>Bieres - Jus de fruits - Sirop</p>
    <% end %>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-12 col-sm-4">
          <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "products.jpg" %>);">
            <div class="product-card-category"></div>
            <div class="product-card-description">
              <h2><%= product.name.capitalize %> - <span> <%= product.weight %> g</span></h2>
              <p> - <%= product.price %> € - <span></span></p>
            </div>
            <a class="product-card-link" href="#" ></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
