<div class="wrapper padded">
  <div class="media">
    <div class="media-body">
    <% if @product.photo? %>
      <div class="media-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @product.photo.path, width: 1200, height: 800, crop: :fill%>');">
      </div>
      <% else %>
      <div class="media-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://placehold.it/600x400');">
      </div>
      <% end %>
      <% if @product.description %>
        <div class="media-top-section">
          <h4>Description produit :</h4>
          <p><%= @product.description %></p>
        </div>
      <% else %>
      <br>
      <% end %>
      <div class="media-back-section">
      <img src="http://placehold.it/40x40" class="avatar-square float-left">
      <% if @product.user.farm_name %>
        <h5><%= @product.user.farm_name.upcase %></h5>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @product.user.farm_location %></p>
      <% end %>
      <p><%= @product.user.farm_description %></p>
      <br>
      <h5>GERANT :</h5>
      <p><%= @product.user.first_name.capitalize %> <%= @product.user.last_name%></p>
      </div>
    </div>
    <div class="media-aside">
      <div class="media-section">
        <h4><%= @product.name.capitalize %></h4>
        <% if @product.user == current_user %>
          <div class="media-icons">
            <%= link_to edit_product_path(@product) do %>
              <i class="fa fa-pencil gray xs"></i>
            <% end %>
          </div>
        <% end %>
        <div class="media-section">
          <p>Poids: <%= @product.weight %> Grammes</p>
          <p>Prix: <%= @product.price %> €</p>
          <p> En stock: <%= @product.stock %> <i class="fa fa-check" aria-hidden="true"></i></p>
          <p>Quantité : </p>
          <div class="input-xs">
            <input type="number" class="form-control" id="Quantity" placeholder="1">
          </div>
        </div>
        <% if @product.user == current_user %>
          <div class="media-buttons text-center">
            <%= link_to "Unpublish", "#", class: "btn btn-warning" %>
          </div>
          <% else %>
          <div class="media-buttons text-center">
            <%= link_to "Ajouter", new_order_path(@Product), class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
