<div class="wrapper">
  <div class="container">
    <%= link_to "All product", products_path, class: "btn btn-primary"%>
    <div class="row">
      <div class="col-xs-7">
        <img alt="" src="https://unsplash.it/450/450" class= "img-responsive img-thumbnail">
      </div>
      <div class="col-xs-5">
        <h1 class="text-center"> <%= @product.name.capitalize%></h1>
        <h4 class="text-center"> <%= @product.user.email.capitalize%></h4>
        <!-- After we will change the email with the name! -->
        <div class= "vintage">
            <h5 class=""> Price: <%= @product.price%></h4>
            <h5 class=""> Weight: <%= @product.weight%></h4>
            <!-- <h5 class="input"> quantity: <%= @product%></h4> -->
      </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <strong class="padded"> Description:</strong> <%= @product.description %>
  </div>
</div>
</div>
</div>
