<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="media">
        <div class="media-body">
         <div class="media-section">
            <% if @product.photo? %>
              <%= cl_image_tag @product.photo.path, { :width=> "450", :crop=>"fill", :aspect_ratio=>"16:9", :gravity=>"auto" } %>
             <% else %>
            <img alt="" src="https://unsplash.it/450/450" class="img-responsive img-thumbnail">
            <% end %></h2>
            </div>
        </div>
        <div class="media-aside">
          <div class="media-section">
            <h2 class="text-center"> <%= @product.name.capitalize%></h2>
            <h4 class="text-center"> <%= @product.user.first_name.capitalize + " "  + @product.user.last_name%></h4>
            <p> <h4>Description du produit </p> </h4>
            <p> <%= @product.description %> </p>
            <p>Price: <%= @product.price%></p>
            <p>Poid en grame : <%= @product.weight%></p>
            <form action="">
            Combien?
            <input type="number" placeholder="1"><br></form>
            <h5 class=" btn btn-default btn-block">
            buy some!</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="media-section">
          <h3> <%= @product.user.farm_name.capitalize%></h3>
          <h4> <%= @product.user.first_name.capitalize + " "  + @product.user.last_name%></h4>
          <p> <h4>Description de la ferme: </h4>
          <p> <%= @product.user.farm_description %> </p>
          <p>Ville : <%= @product.user.city%></p>
        </div>
      </div>
    </div>
  </div>
</div>
